.one
{
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.0s;
    -o-animation-delay: 0.0s;
    animation-delay: 0.0s;
}

.two
{
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.three
{
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    -moz-animation: dot 1.3s infinite;
    -o-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}